<html>
<!-- What the page is called in the tab bar  -->
<!-- We will add out stylsheet here later -->
<head>
    <link rel="stylesheet" href="/static/home.css" />
    <title> Home Page</title>
</head>
<!-- Put some text on the page -->
<body>
  <h1 id='HomeHeader' >Welcome to NullSpaceSF</h1>
  <ul>
    <li>
      <a href="http://google.com">Google</a>
    </li>
    <li>
      <a href="/mpg">MPG</a>
    </li>
  </ul>
  <p>
    This space is Null
  </p>
  <span>
    Here is a span
  </span>
</body>
</html>